<h2>All Posts</h2>

<button data-ng-hide="newPost" data-ng-click="newPost = !newPost">Add post</button>
<form data-ng-show="newPost" data-ng-submit="indexVm.create(); newPost = !newPost">
  <input type="text" name="author" placeholder="Author" data-ng-model="indexVm.newPost.author" />
  <input type="text" name="photoUrl" placeholder="Photo URL" data-ng-model="indexVm.newPost.photoUrl" />
  <textarea name="content" placeholder="Post content" data-ng-model="indexVm.newPost.content" ></textarea>
  <button type="submit">Add</button>
</form>

<div data-ng-repeat="post in indexVm.posts">
  <p><a data-ui-sref="postShow({id: post.id})">{{post.author}}</a></p>
</div>
