<h2>Post Info</h2>
<h3>{{showVm.post.author}}</h3>

<button data-ng-hide="editPost" data-ng-click="editPost = !editPost">Edit post</button>
<form data-ng-show="editPost">
  <label>Author</label>
  <input type="text" name="newPost" data-ng-model="showVm.post">
  <button class="update" data-ng-click="showVm.update(); editPost = !editPost">Save</button>
  <button data-ng-click='editPost = !editPost' class='cancel'>Cancel</button>
  <button class="delete" data-ui-sref="postIndex" data-ng-click="showVm.delete()">Delete</button>
</form>
